.quote{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 90vh;
    justify-content: space-around;
    background-color: #161B22;
    color: white;
    align-items: center;
    margin-bottom: 10vh;
}
.quote--img{
    height: 80%;
    background-color: whitesmoke;
    width: 65%;
    margin: 10%;
}
.quote--info h2{
    margin-top: 0;
}
.quote--info{
    width: 65%;
    padding-bottom: 10%;
}
.quote--info--stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.open__stat, .current__stat, .percentage__stat{
    text-align: end;
}
.quote--info--stats div{
    margin: 5% 0;
    font-weight: 600;
    font-size: 12pt;
}